@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #11141d;
	--card: #1e2434;
	--card-hover: #0a224f;
}

body {
	font-size: 14px;
}

body>div {
	min-height: 100vh;
}

* {
	font-size: inherit;
	font-family: inherit;
}

.square {
	aspect-ratio: 1/1;
	object-fit: cover;
}

.breadcrumbs {
	margin-block: 16px;
}