.menuLi {

	width: 100%;
	// overflow: hidden;

	flex-basis: auto;

	margin-bottom: 4px;

	@media (max-width: 1140px) {
		background-color: #1e2434;
	}
}

.menu {
	width: 150px;
	gap: 4px;
	position: fixed;
	top: 12px;
	right: 12px;

	@media (max-width: 1140px) {
		transition: transform .3s;
		margin-top: 40px;
		transform: translateX(100%);
		height: calc(100vh - 64px);
		overflow-y: scroll;
	}

	&:hover .menuLi {
		display: block;
	}
}

.menuWrapper {

	&:has(.openbutton:hover),
	.menu:hover {
		.menu {
			transform: translateX(0);
		}
	}
}

.menuItem {
	font-size: 12px;

	display: block;
}

.logo {
	margin-right: 8px;
	font-size: 20px;
}