.title2 {
	margin-top: 64px;
	margin-bottom: 16px;
}

.title3 {
	margin-bottom: 16px;
}

.description {
	margin-top: 8px;
	margin-bottom: 24px;
}

.stats {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.statsItem {
	padding-left: 16px;
	flex-basis: 140px;
	border-left: var(--card) 2px solid;
}

.ip {
	padding: 8px !important;
	display: inline-block;
}

.latestNews {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 560px) {
		grid-template-columns: 1fr;
	}
}